USE [shop_ecommerce]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[users_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orders_detail_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[created_at] [date] NULL,
	[rate] [int] NULL,
	[content] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[flash_sales]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[flash_sales](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[products_category_id] [int] NULL,
 CONSTRAINT [flash_sales_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[shipping_date] [date] NULL,
	[shipped_date] [date] NULL,
	[status_id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[address] [nvarchar](999) NULL,
	[phone] [varchar](15) NULL,
	[message] [nvarchar](999) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders_details]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NULL,
	[sum] [numeric](19, 0) NULL,
	[price] [numeric](18, 0) NULL,
	[sale] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[products_category_id] [int] NOT NULL,
	[sku] [varchar](255) NULL,
	[price] [numeric](19, 0) NULL,
	[image] [varchar](255) NULL,
	[quantity] [int] NULL,
	[quantity_sold] [int] NULL,
	[sale_price] [numeric](19, 0) NULL,
	[is_stored] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_categories]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[image] [varchar](255) NULL,
	[is_stored] [bit] NULL,
	[description] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_images]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [varchar](255) NULL,
	[products_category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_types]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_types_categories]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_types_categories](
	[products_type_id] [int] NOT NULL,
	[products_category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[products_type_id] ASC,
	[products_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_variants]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_variants](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[products_category_id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[sku] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_variants_values]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_variants_values](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[products_variant_id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[sku] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slides]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slides](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [varchar](255) NULL,
	[url] [varchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[description] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subcomments]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subcomments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[comment_id] [int] NOT NULL,
	[created_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/10/2023 8:57:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[email] [varchar](255) NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[role] [int] NULL,
	[phone] [varchar](15) NULL,
	[is_banned] [bit] NULL,
	[address] [nvarchar](999) NULL,
	[gender] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[carts] ([users_id], [product_id], [quantity]) VALUES (1, 4, 2)
INSERT [dbo].[carts] ([users_id], [product_id], [quantity]) VALUES (45, 3, 1)
INSERT [dbo].[carts] ([users_id], [product_id], [quantity]) VALUES (1, 49, 1)
GO
SET IDENTITY_INSERT [dbo].[flash_sales] ON 

INSERT [dbo].[flash_sales] ([id], [products_category_id]) VALUES (1, 3)
INSERT [dbo].[flash_sales] ([id], [products_category_id]) VALUES (2, 4)
INSERT [dbo].[flash_sales] ([id], [products_category_id]) VALUES (3, 5)
SET IDENTITY_INSERT [dbo].[flash_sales] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [user_id], [created_at], [shipping_date], [shipped_date], [status_id], [name], [address], [phone], [message]) VALUES (4, 1, CAST(N'2023-11-01T19:06:12.437' AS DateTime), NULL, NULL, 6, N'Nguyễn Lê Quỳnh Trang', N'Số nhà 07, một bên khách sạn Hoa Cỏ May, Đức Thọ, Hà Tĩnh', N'0916641400', N'không giao vào chủ nhật')
INSERT [dbo].[orders] ([id], [user_id], [created_at], [shipping_date], [shipped_date], [status_id], [name], [address], [phone], [message]) VALUES (5, 1, CAST(N'2023-11-01T19:07:29.850' AS DateTime), NULL, NULL, 6, N'Nguyễn Lê Quỳnh Trang', N'Số nhà 07, một bên khách sạn Hoa Cỏ May, Đức Thọ, Hà Tĩnh', N'0916641400', N'')
INSERT [dbo].[orders] ([id], [user_id], [created_at], [shipping_date], [shipped_date], [status_id], [name], [address], [phone], [message]) VALUES (10, 1, CAST(N'2023-11-01T22:16:36.360' AS DateTime), NULL, NULL, 3, N'Nguyễn Lê Quỳnh Trang', N'Số nhà 07, một bên khách sạn Hoa Cỏ May, Đức Thọ, Hà Tĩnh', N'0916641400', N'')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[orders_details] ON 

INSERT [dbo].[orders_details] ([id], [order_id], [product_id], [quantity], [sum], [price], [sale]) VALUES (9, 4, 3, 2, CAST(56000 AS Numeric(19, 0)), CAST(35000 AS Numeric(18, 0)), 20)
INSERT [dbo].[orders_details] ([id], [order_id], [product_id], [quantity], [sum], [price], [sale]) VALUES (10, 4, 22, 1, CAST(99400 AS Numeric(19, 0)), CAST(140000 AS Numeric(18, 0)), 29)
INSERT [dbo].[orders_details] ([id], [order_id], [product_id], [quantity], [sum], [price], [sale]) VALUES (11, 5, 30, 1, CAST(99400 AS Numeric(19, 0)), CAST(140000 AS Numeric(18, 0)), 29)
SET IDENTITY_INSERT [dbo].[orders_details] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [products_category_id], [sku], [price], [image], [quantity], [quantity_sold], [sale_price], [is_stored]) VALUES (1, 3, N'mat_to$mau_trang', CAST(45000 AS Numeric(19, 0)), N'https://down-vn.img.susercontent.com/file/cn-11134207-7qukw-lis5cb25w5tm69', 98, 2, CAST(31 AS Numeric(19, 0)), 0)
INSERT [dbo].[products] ([id], [products_category_id], [sku], [price], [image], [quantity], [quantity_sold], [sale_price], [is_stored]) VALUES (2, 3, N'mat_to$mau_den', CAST(35000 AS Numeric(19, 0)), N'https://down-vn.img.susercontent.com/file/cn-11134207-7qukw-lis5cb25ur960d', 0, 3, CAST(31 AS Numeric(19, 0)), 0)
INSERT [dbo].[products] ([id], [products_category_id], [sku], [price], [image], [quantity], [quantity_sold], [sale_price], [is_stored]) VALUES (3, 3, N'mat_nho$mau_trang', CAST(35000 AS Numeric(19, 0)), N'https://down-vn.img.susercontent.com/file/cn-11134207-7qukw-lis5cb25xke2c9', 77, 2, CAST(20 AS Numeric(19, 0)), 0)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[products_categories] ON 

INSERT [dbo].[products_categories] ([id], [name], [image], [is_stored], [description]) VALUES (5, N'D55 Đầm Dự Tiệc Tua Rua Khoét Vai Tay Dài Phối Voan Thiết Kế Sang Chảnh Dễ Mặc 21ROOM Phong Cách Trẻ Trung Nhẹ Nhàng', N'https://down-vn.img.susercontent.com/file/vn-11134207-7qukw-li62fkumqm8c90', 0, N'Thông tin sản phẩm:

D55 Đầm Dự Tiệc Tua Rua Khoét Vai Tay Dài Phối Voan Thiết Kế Sang Chảnh Dễ Mặc 21ROOM Phong Cách Trẻ Trung Nhẹ Nhàng

✔️Mã sản phẩm: d55

✔️Chất liệu: kate phối lưới')
SET IDENTITY_INSERT [dbo].[products_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[products_images] ON 

INSERT [dbo].[products_images] ([id], [image], [products_category_id]) VALUES (1, N'https://down-vn.img.susercontent.com/file/sg-11134201-7qvfq-lhx760pjkfo296', 3)
INSERT [dbo].[products_images] ([id], [image], [products_category_id]) VALUES (2, N'https://down-vn.img.susercontent.com/file/sg-11134201-7qvg2-lii90xm8xgjx20', 3)
INSERT [dbo].[products_images] ([id], [image], [products_category_id]) VALUES (3, N'https://down-vn.img.susercontent.com/file/sg-11134201-7qvfw-lii90qghd9m28b', 3)
SET IDENTITY_INSERT [dbo].[products_images] OFF
GO
SET IDENTITY_INSERT [dbo].[products_types] ON 

INSERT [dbo].[products_types] ([id], [name]) VALUES (1, N'Phụ kiện')
INSERT [dbo].[products_types] ([id], [name]) VALUES (2, N'Áo')
INSERT [dbo].[products_types] ([id], [name]) VALUES (3, N'Quần')
SET IDENTITY_INSERT [dbo].[products_types] OFF
GO
INSERT [dbo].[products_types_categories] ([products_type_id], [products_category_id]) VALUES (1, 3)
INSERT [dbo].[products_types_categories] ([products_type_id], [products_category_id]) VALUES (1, 8)
INSERT [dbo].[products_types_categories] ([products_type_id], [products_category_id]) VALUES (1, 9)
GO
SET IDENTITY_INSERT [dbo].[products_variants] ON 

INSERT [dbo].[products_variants] ([id], [products_category_id], [name], [sku]) VALUES (1, 3, N'mắt', N'mat')
INSERT [dbo].[products_variants] ([id], [products_category_id], [name], [sku]) VALUES (2, 3, N'màu', N'mau')
INSERT [dbo].[products_variants] ([id], [products_category_id], [name], [sku]) VALUES (3, 4, N'color', N'mau')
SET IDENTITY_INSERT [dbo].[products_variants] OFF
GO
SET IDENTITY_INSERT [dbo].[products_variants_values] ON 

INSERT [dbo].[products_variants_values] ([id], [products_variant_id], [name], [sku]) VALUES (1, 1, N'to', N'to')
INSERT [dbo].[products_variants_values] ([id], [products_variant_id], [name], [sku]) VALUES (2, 1, N'nhỏ', N'nho')
INSERT [dbo].[products_variants_values] ([id], [products_variant_id], [name], [sku]) VALUES (3, 2, N'đen', N'den')
SET IDENTITY_INSERT [dbo].[products_variants_values] OFF
GO
SET IDENTITY_INSERT [dbo].[slides] ON 

INSERT [dbo].[slides] ([id], [image], [url], [title], [description]) VALUES (3, N'https://afamilycdn.com/2019/10/9/m2-15706195086341781344233.jpg', NULL, N'Số 1', N'Hello đây là số 1 nè')
INSERT [dbo].[slides] ([id], [image], [url], [title], [description]) VALUES (4, N'https://down-vn.img.susercontent.com/file/cn-11134207-7qukw-lis5cb25yyyi4d', NULL, N'Số 2', N'Còn đây là slide số 2 hen')
INSERT [dbo].[slides] ([id], [image], [url], [title], [description]) VALUES (6, N'https://minsu.com.vn/wp-content/uploads/2021/04/giay-bata-nu-sieu-re-1-e1620275048926.png', NULL, N'Sale giày', NULL)
SET IDENTITY_INSERT [dbo].[slides] OFF
GO
SET IDENTITY_INSERT [dbo].[status] ON 

INSERT [dbo].[status] ([id], [name]) VALUES (1, N'Đang chờ xác nhận')
INSERT [dbo].[status] ([id], [name]) VALUES (2, N'Đang chuẩn bị hàng')
INSERT [dbo].[status] ([id], [name]) VALUES (3, N'Đang giao hàng')
SET IDENTITY_INSERT [dbo].[status] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [email], [username], [password], [role], [phone], [is_banned], [address], [gender]) VALUES (1, N'Nguyễn Lê Quỳnh Trang', N'TrangNLQHE176526@fpt.edu.vn', N'trang', N'1', 2, N'0916641400', 0, N'Nhà ông Bảy cũ, thôn Linh Sơn, Bình Yên, Thạch Thất, Hà Nội', 0)
INSERT [dbo].[users] ([id], [name], [email], [username], [password], [role], [phone], [is_banned], [address], [gender]) VALUES (6, N'Nguyễn Thị Quỳnh', N'quynhnthe171282@fpt.edu.vn', N'quynhnt', N'123', 2, NULL, 0, NULL, NULL)
INSERT [dbo].[users] ([id], [name], [email], [username], [password], [role], [phone], [is_banned], [address], [gender]) VALUES (19, N'Đào Xuân Quý', N'quydxhexxxxxx@fpt.edu.vn', N'quydx', N'123', 1, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572EB1FA98A]    Script Date: 11/10/2023 8:57:30 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [is_stored]
GO
ALTER TABLE [dbo].[products_categories] ADD  DEFAULT ((0)) FOR [is_stored]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((2)) FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_banned]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FKcarts553043] FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FKcarts553043]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FKcarts683208] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FKcarts683208]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FKcomments866101] FOREIGN KEY([orders_detail_id])
REFERENCES [dbo].[orders_details] ([id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FKcomments866101]
GO
ALTER TABLE [dbo].[flash_sales]  WITH CHECK ADD  CONSTRAINT [flash_sales_products_categories_id_fk] FOREIGN KEY([products_category_id])
REFERENCES [dbo].[products_categories] ([id])
GO
ALTER TABLE [dbo].[flash_sales] CHECK CONSTRAINT [flash_sales_products_categories_id_fk]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKorders322301] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKorders322301]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKorders519933] FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKorders519933]
GO
ALTER TABLE [dbo].[orders_details]  WITH CHECK ADD  CONSTRAINT [FKorders_det221372] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[orders_details] CHECK CONSTRAINT [FKorders_det221372]
GO
ALTER TABLE [dbo].[orders_details]  WITH CHECK ADD  CONSTRAINT [FKorders_det934725] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[orders_details] CHECK CONSTRAINT [FKorders_det934725]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKproducts591821] FOREIGN KEY([products_category_id])
REFERENCES [dbo].[products_categories] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKproducts591821]
GO
ALTER TABLE [dbo].[products_images]  WITH CHECK ADD  CONSTRAINT [FKproducts_i445037] FOREIGN KEY([products_category_id])
REFERENCES [dbo].[products_categories] ([id])
GO
ALTER TABLE [dbo].[products_images] CHECK CONSTRAINT [FKproducts_i445037]
GO
ALTER TABLE [dbo].[products_types_categories]  WITH CHECK ADD  CONSTRAINT [FKproducts_t291225] FOREIGN KEY([products_type_id])
REFERENCES [dbo].[products_types] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[products_types_categories] CHECK CONSTRAINT [FKproducts_t291225]
GO
ALTER TABLE [dbo].[products_types_categories]  WITH CHECK ADD  CONSTRAINT [FKproducts_t384100] FOREIGN KEY([products_category_id])
REFERENCES [dbo].[products_categories] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[products_types_categories] CHECK CONSTRAINT [FKproducts_t384100]
GO
ALTER TABLE [dbo].[products_variants]  WITH CHECK ADD  CONSTRAINT [FKproducts_v774354] FOREIGN KEY([products_category_id])
REFERENCES [dbo].[products_categories] ([id])
GO
ALTER TABLE [dbo].[products_variants] CHECK CONSTRAINT [FKproducts_v774354]
GO
ALTER TABLE [dbo].[products_variants_values]  WITH CHECK ADD  CONSTRAINT [FKproducts_v365536] FOREIGN KEY([products_variant_id])
REFERENCES [dbo].[products_variants] ([id])
GO
ALTER TABLE [dbo].[products_variants_values] CHECK CONSTRAINT [FKproducts_v365536]
GO
ALTER TABLE [dbo].[subcomments]  WITH CHECK ADD  CONSTRAINT [FKsubcomment193006] FOREIGN KEY([comment_id])
REFERENCES [dbo].[comments] ([id])
GO
ALTER TABLE [dbo].[subcomments] CHECK CONSTRAINT [FKsubcomment193006]
GO
